<!doctype html>
<!--[if IE 7]><html class="no-js ie lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js ie" lang="en"><![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>All Assist | Specialize in finding the right things for you</title>
    <!-- JS libraries -->
    <!-- Icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- JS libraries -->
    <script src="js/jquery.min.js"></script>
    <script src="js/css3-mediaqueries.js"></script>
    <!-- JS plugins -->
    <script src="js/forms.js"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40895699-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </head>

  <body>
    <div class="container">
      <!-- header -->
      <div class="header clerfix">

        <div class="logo wrapper">
          <a href="index.html" title="">
            <img src="images/logo.png" alt="all assist index">
          </a>
        </div>

        <div id="nav-container" class="nav-container">
          <ul class="wrapper">
           <li><a href="index.html" title="Home">Home</a></li>
           <li><a href="virtual-office.html" title="Virtual Office">Virtual Office</a></li>
           <li><a href="business-service.html" title="Business Services">Business Services</a></li>
           <li><a class="current" href="personal-coverage.html" title="Personal Coverage">Personal Coverage</a></li>
           <li><a href="article.html" title="Personal Coverage">Article</a></li>
           <li><a href="contact-us.html" title="Personal Coverage">Contact Us</a></li>
          </ul>
        </div>
        </div> <!-- end wrapper -->
      </div> <!-- end header -->

      <!-- main -->
      <div id="main" class="personal-coverage main clerfix">
        <div class="section1">
          <!-- slide -->
          <div id="slide-container" class="slide-container wrapper">
            <img src="images/slide/slide1.jpg">
          </div>
        </div> <!-- end section1 -->
        <div class="section2 wrapper">
          <h1>Business and Personal Coverage Services</h1>
          <p>When starting a new business you want to free to concentrate on it. That’s why we provide a full range of business services including registration, permits and visas
          as well as in-house business consultancy.  Your personal needs can also be met whether you are looking for a school for the children, a golf club, medical services,
          and so on.
          </p>
          <div class="list-item">
            <div class="row">
              <img src="images/ico/ico-personal-coverage.png" alt="personal coverage service">
              <div class="detail">
                <h2 class="red-txt">Personal Coverage Services</h2>
                <p>We can help you to find properties that meet your needs thus saving time in searching on real estate agent.</p>
              </div>
            </div>
            <div class="row">
              <img src="images/ico/ico-healthcare.png" alt="healthcare">
              <div class="detail">
                <h2 class="green-txt">Healthcare</h2>
                <p>We hope you never need them but we can guide you through the insurance, medical, and dental care facilities.</p>
              </div>
            </div>
            <div class="row">
              <img src="images/ico/ico-schooling.png" alt="schooling">
              <div class="detail">
                <h2 class="beige-txt">Schooling</h2>
                <p>There are superb private and international schools in Chiang Mai, Thailand. We can help you to gathering information and arrange appointment.</p>
              </div>
            </div>
            <div class="row">
              <img src="images/ico/ico-travel.png" alt="travel">
              <div class="detail">
                <h2 class="red-txt">Travel</h2>
                <p>Going back home to see family or looking for a weekend in one of Thailand's superb resort? We have it covered-just ask.</p>
              </div>
            </div>
            <div class="row">
              <img src="images/ico/ico-recreation.png" alt="recreation">
              <div class="detail">
                <h2 class="green-txt">Recreation</h2>
                <p>There are unlimited opportunities available to you we can help you in finding those you wish to follow as well as with club memberships, tuition, and equipment etc.</p>
              </div>
            </div>
            <div class="row">
              <img src="images/ico/ico-not-on-list.png" alt="not on the list">
              <div class="detail">
                <h2 class="beige-txt">Not on the list</h2>
                <p>Give us a challenge... We love to surprise our clients with innovative solutions.</p>
              </div>
            </div>
          </div> <!-- end personal service -->
        </div> <!-- end section2 -->
      </div> <!-- end main -->
      <!-- footer -->
      <div class="footer clearfix">
        <div class="wrapper">
          <ul class="contact left">
            <li class="email">
              <div class="contact-title left">Email :</div>
              <div class="contact-detail">allassist.contact@gmail.com</div>
            </li>
            <li class="skype">
              <div class="contact-title left">Skype :</div>
              <div class="contact-detail">All-Assist</div>
            </li>
            <li class="address">
              <div class="contact-title left">Address :</div>
              <div class="contact-detail">139 Moo.7 Suthep, Muang, Chiang Mai 50200</div>
            </li>
            <li class="phone">
              <div class="contact-title left">Phone :</div>
              <div class="contact-detail">+66 80 123 3453</div>
            </li>
          </ul> <!-- end contact -->
          <div class="copy-right right">Copyright 2013 All Assist - All Rights Reserved</div>
          <p class="right">All content on this website: artwork, audio and creative media herein, may not be utilized in any<br>
          commercial capacity, or reproduced in any derivative works or manner without the<br>
          expressed written permission of the artwork's original author(s)
          </p>
        </div>
      </div>
    </div>
  </body>
</html>