<!doctype html>
<!--[if IE 7]><html class="no-js ie lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js ie" lang="en"><![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>All Assist | Specialize in finding the right things for you</title>
    <!-- JS libraries -->
    <!-- Icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- JS libraries -->
    <script src="js/jquery.min.js"></script>
    <script src="js/css3-mediaqueries.js"></script>
    <!-- JS plugins -->
    <script src="js/forms.js"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40895699-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  </head>

  <body>
    <div class="container">
      <!-- header -->
      <div class="header clerfix">
        <div class="logo wrapper">
          <a href="index.html" title="">
            <img src="images/logo.png" alt="all assist index">
          </a>
        </div>

        <div id="nav-container" class="nav-container">
          <ul class="wrapper">
           <li><a href="index.html" title="Home">Home</a></li>
           <li><a class="current" href="virtual-office.html" title="Virtual Office">Virtual Office</a></li>
           <li><a href="business-service.html" title="Business Services">Business Services</a></li>
           <li><a href="personal-coverage.html" title="Personal Coverage">Personal Coverage</a></li>
           <li><a href="article.html" title="Personal Coverage">Article</a></li>
           <li><a href="contact-us.html" title="Personal Coverage">Contact Us</a></li>
          </ul>
        </div>
        </div> <!-- end wrapper -->
      </div> <!-- end header -->

      <!-- main -->
      <div id="main" class="virtual-office main clerfix">
        <div class="section1">
          <!-- slide -->
          <div id="slide-container" class="slide-container wrapper">
            <img src="images/slide/slide1.jpg">
          </div>
        </div> <!-- end section1 -->
        <div class="section2 wrapper">
          <h1>Virtual Office</h1>
          <p>Virtual Office provides the service to run your business professionally without the cost associated with permanent office. Virtual office is combination of professional
          office service and facilities including.
          </p>
          <div class="service clearfix">
            <div class="col1 left">
              <img src="images/img-business-address.png" width="220px" height="122px">
              <h2 class="red-txt">Business Address</h2>
            </div>
            <div class="col2 left">
              <img src="images/img-mail-forwarding.png" width="220px" height="122px">
              <h2 class="green-txt">Mail Forwarding</h2>

            </div>
            <div class="col3 left">
              <img src="images/img-tel-ans.png" width="220px" height="122px">
              <h2 class="beige-txt">Telephone<br>Answering Services</h2>
            </div>
            <div class="col4 left last">
              <img src="images/img-meeting.png" width="220px" height="124px">
              <h2>Meeting Room</h2>
            </div>
          </div>
        </div> <!-- end section2 -->
      </div> <!-- end main -->
      <!-- footer -->
      <div class="footer clearfix">
        <div class="wrapper">
          <ul class="contact left">
            <li class="email">
              <div class="contact-title left">Email :</div>
              <div class="contact-detail">allassist.contact@gmail.com</div>
            </li>
            <li class="skype">
              <div class="contact-title left">Skype :</div>
              <div class="contact-detail">All-Assist</div>
            </li>
            <li class="address">
              <div class="contact-title left">Address :</div>
              <div class="contact-detail">139 Moo.7 Suthep, Muang, Chiang Mai 50200</div>
            </li>
            <li class="phone">
              <div class="contact-title left">Phone :</div>
              <div class="contact-detail">+66 80 123 3453</div>
            </li>
          </ul> <!-- end contact -->
          <div class="copy-right right">Copyright 2013 All Assist - All Rights Reserved</div>
          <p class="right">All content on this website: artwork, audio and creative media herein, may not be utilized in any<br>
          commercial capacity, or reproduced in any derivative works or manner without the<br>
          expressed written permission of the artwork's original author(s)
          </p>
        </div>
      </div>
    </div>
  </body>
</html>