#zone-branding-wrapper {
  margin: 0;
  padding: 20px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  background-color: #000;
}
#zone-menu-wrapper {
  background-color: #494949;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: none;
}
#zone-header-wrapper{
  background-color: #fbf5d5;
  height: auto;
  margin-bottom: 30px;
  padding-bottom: 26px;
}
#section-footer{
  background-color: #000;
  padding-top: 12px;
  color: #fff;
}
#zone-branding .zone-branding {
	/*max-width: 980px;
	margin: 0 auto;*/
}
.region-branding-inner ,#zone-menu ,.views-field-field-image img ,
#zone-header , #zone-content ,.region-content-inner {
	/*max-width: 980px;
	margin: 0 auto;*/
}
.logo-img {
	margin-left: 12px;
}
h1, h2, h3 {
font-family: Sansus Webissimo , arial;
}
h1 {
	font-size: 22px;
	border-bottom: 1px solid #a6d13b;
	margin-bottom: 12px;
}
h2 {
  font-size: 18px;
}
h2 a { font-size: 18px; text-decoration: none !important;}
p {
  font-family: tahoma;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
}
ol, ul {
  list-style: none;
}
a , a:hover , a:visited {
	text-decoration: none;
}
/* -------------------------------------------------------------------------- */
/* STRUCTURAL LAYOUT */
body ,html {
  font-family: arial;
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.region-content {
  padding-bottom: 30px;
}
/* main menu */
#main-menu a {
	color: #fff;
	font-family: Sansus Webissimo, arial;
	font-size: 15px;
	padding: 0 16px;
	text-transform: uppercase;
	text-decoration: none;
}
#main-menu a:hover ,#main-menu a.active {
	color: #a6d13b;
}
.region-content .field-name-field-blocks .field-item {
  float: left;
  margin-right: 20px;
}
/* home */
.block-inner .view-list-block .views-row  {
  float: left;
  margin-right: 20px;
  width: 270px;
}
.block-inner .view-list-block .views-field-title span a {
  color: #a6d13b;
  font-size: 16px;
  text-decoration: none;
}
.block-inner .view-list-block .field-content a {
  color: #c6c6c6;
  font-size: 14px;
  text-decoration: none;
}
/* article list */
.region-content .view-articles .views-row {
  margin-top: 20px;
}
.page-articles .view-id-articles a img {
  background-color: pink;
  display: inline-block;
  float: left;
  font-size: 18px;
  margin-top: 20px;
  max-width: 500px;
  text-decoration: none;
}
.page-articles .view-id-articles p {
  margin-top: 20px;
  padding-left: 500px;
}
.page-articles .view-id-articles a {
  font-size: 18px;
  left: 0;
  text-decoration: none;
}
/* article detail */
.submitted {
  font-size: 16px;
  margin-bottom: 20px;
}
.articledate {
  font-size: 16px;
  margin-bottom: 20px;
}




