#zone-branding-wrapper {
  margin: 0;
  padding: 20px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  background-color: #000;
}
#zone-menu-wrapper {
  background-color: #494949;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: none;
}
#zone-header-wrapper{
  background-color: #fbf5d5;
  height: auto;
  margin-bottom: 30px;
}
#section-footer{
  background-color: #000;
  padding-top: 12px;
  color: #fff;
}
#zone-branding .zone-branding {
	/*max-width: 980px;
	margin: 0 auto;*/
}
.region-branding-inner ,#zone-menu ,.views-field-field-image img ,
#zone-header , #zone-content ,.region-content-inner {
	/*max-width: 980px;
	margin: 0 auto;*/
}
.logo-img {
	margin-left: 12px;
}
h1, h2, h3 {
font-family: Sansus Webissimo , arial;
}
h1 {
	font-size: 22px;
	border-bottom: 1px solid #a6d13b;
	margin-bottom: 12px;
}
h2 {
  font-size: 18px;
}
h2 a { font-size: 18px; text-decoration: none !important;}
h2.field-content a { margin-top: 20px;}
p {
  font-family: tahoma;
  font-size: 16px;
  line-height: 20px;
}
ol, ul {
  list-style: none;
  padding-left: 0;
}
#region-content ul { padding-left: 0; margin-left: 0;}
#region-content ul li { font-size:16px; margin-bottom: 10px; }
.item-list ul li { margin-left: 0; }
#region-content ul li img { vertical-align: middle; margin-top: -4px; }
a , a:hover , a:visited {
	text-decoration: none;
}
header { font-weight: bold; }
/* -------------------------------------------------------------------------- */
/* STRUCTURAL LAYOUT */
body ,html {
  font-family: arial;
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.region-content {
  padding-bottom: 30px;
}
#zone-content { margin-bottom: 20px;}
/* list page */
.field-items .content-list p {
  display: inline-block;
  margin-right: 14px;
  vertical-align: top;
}
.field-items .list-desc { display: inline-block; }
.field-items .list-desc { max-width: 810px; }
.field-items .list-desc h2 { margin-bottom: 0; }

/* main menu */
#main-menu a {
	color: #fff;
	font-family: Sansus Webissimo, arial;
	font-size: 15px;
	padding: 0 16px;
	text-transform: uppercase;
	text-decoration: none;
}
#main-menu a:hover ,#main-menu a.active {
	color: #a6d13b;
}
.region-content .field-name-field-blocks .field-item {
  float: left;
  /*height: 124px;*/
  max-width: 220px;
  margin-bottom: 10px;
  margin-right: 32px;
}
#region-content ul li img { margin-right: 6px; }
/* footer */
#zone-footer-wrapper p {
  color: #504b4b;
  font-family: arial;
  font-size: 13px;
}
.rteright {
  margin-bottom: 0;
}
#zone-footer-wrapper #region-footer-second .block-without-title {
  margin-right: 0;
}
/* home */
.block-inner .view-list-block .views-row  {
  float: left;
  margin-right: 20px;
  width: 245px;
  margin-bottom: 20px;
}
.block-inner .view-list-block .views-field-title span a {
  color: #a6d13b;
  font-size: 16px;
  text-decoration: none;
}
.block-inner .view-list-block .field-content a {
  color: #c6c6c6;
  font-size: 14px;
  text-decoration: none;
}
.page-homepage .block-lasted-articles-block {
  clear: both;
}
.page-homepage .item-list ul li {
  margin-left: 0;
}
.page-homepage .item-list ul li a {
  text-decoration: none !important;
}
/* article list */
#edit-submit-articles , #edit-submit {
  background-color: #A6D13B !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 5px 20px;
}
.views-exposed-form label { float: left; font-size: 14px; margin-right: 10px;}
.views-widget { float: left;}
.views-widget #edit-keys { width: 200px;}
.region-content .view-articles .views-row {
  margin-top: 20px;
}
.page-articles .view-id-articles a img {
  display: inline-block;
  float: left;
  font-size: 18px;
  margin-right: 30px;
  text-decoration: none;
}
.article-summary { margin-bottom: 40px; }
.page-articles .view-id-articles p {
  margin-top: 20px;
}
.page-articles .view-id-articles a {
  font-size: 18px;
  left: 0;
  text-decoration: none;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
/* article detail */
.submitted {
  font-size: 16px;
  margin-bottom: 20px;
}
.articledate {
  font-size: 16px;
  margin-bottom: 20px;
}
/* virtual office */
.header {
  display: inline-block;
}
/* contact us */
.context-contact-us .block-without-title {
  float: left;
  margin-bottom: 30px;
  margin-right: 10%;
}
article.node-webform {
  float: left;
}
.edit-submitted-your-full-name {
  border: none;
}
.context-contact-us p strong ,.context-contact-us label {
  color: #858585;
  font-family: Sansus Webissimo, arial;
  font-size: 16px;
}
.context-contact-us .block-inner {
  margin-top: 16px;
}
.form-checkboxes .form-item, .form-radios .form-item ,label {
  margin-bottom: 16px !important;
}
.context-contact-us input ,.context-contact-us label {
  margin-right: 10px;
}
textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
  background-color: #e1e1e1;
  border: none;
}
.flexslider {
  margin-top: 20px;
  margin-bottom: 0;
}
.webform-client-form {
  position: relative;
}
#webform-component-please-leave-your-email label ,
#webform-component-please-leave-your-phone-number label ,
#webform-component-please-leave-your-skype label {
  display: none;
}
#webform-component-please-leave-your-email input {
  position: absolute;
  top: 109px;
  left: 112px;
}
#webform-component-please-leave-your-phone-number input {
  position: absolute;
  top: 149px;
  left: 112px;
}
#webform-component-please-leave-your-skype input {
  position: absolute;
  top: 189px;
  left: 112px;
}
input#edit-submitted-which-way-do-you-prefer-when-we-contact-you-back-other {
  position: absolute;
  top: 225px;
  left: 112px;
}
/* last article */
.block-views-lasted-articles-block  h2 {

}
.block-views-lasted-articles-block a {
  color: #8F9094;
  text-decoration: none;
}
.block-views-lasted-articles-block a:hover {
  color: #A6D13B;
}

/* iphone 3-4 */
@media (max-width: 320px) {
  .navigation ul#main-menu a {
    font-size: 10px;
    padding: 0 4px;
  }

}
/* mobile*/
@media (max-width: 480px) {
  .navigation ul#main-menu a {
    font-size: 12px;
    padding: 0 2px !important;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 16px !important;
  }
  #webform-component-please-leave-your-email input {
    position: absolute;
    top: 151px;
    left: 114px;
  }
  #webform-component-please-leave-your-phone-number input {
    position: absolute;
    top: 191px;
    left: 114px;
  }
  #webform-component-please-leave-your-skype input {
    position: absolute;
    top: 229px;
    left: 114px;
  }
  input#edit-submitted-which-way-do-you-prefer-when-we-contact-you-back-other {
    position: absolute;
    top: 269px;
    left: 114px;
    width: 252px;
  }
}


